/ Latest compiled and minified CSS
%link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
/ jQuery library
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
/ Latest compiled JavaScript
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%script{:src=> "http://code.responsivevoice.org/responsivevoice.js"}
%script{:src => "main.js"}
%link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}

.start_area
  .center_div
    %img.frog_image{:alt => "Frog Prince", :src => "images/frog_prince_2.png"}
    %br
    %button.btn.btn-danger.start_button{:type => "button"} Incepe

.col-lg-12.question.hidden
  .col-lg-8.col-lg-offset-2.center_div
    %img.question_image{:alt => "Frog Prince", :src => "images/frog_prince_2.png"}
    %br
    .col-lg-2.col-lg-offset-2
      %img.answer.btn.btn-default.correct{:alt => "Correct", :src => "images/green_tick.png"}
    
    .col-lg-2.col-lg-offset-1
      %img.answer.btn.btn-default.replay{:alt => "Replay", :src => "images/replay.png"}
    
    .col-lg-2.col-lg-offset-1
      %img.answer.btn.btn-default.false{:alt => "False", :src => "images/red_circle.png"}

.col-lg-12.feedback.hidden
  .col-lg-8.col-lg-offset-2.center_div
    %img.feedback_image{:alt => "Feedback", :src => ""}
    
.col-lg-12.final.hidden
  .col-lg-8.col-lg-offset-2.center_div  
    %img.final_image{:alt => "Feedback", :src => ""}
    %br
    .col-lg-6.col-lg-offset-3
      %img.answer.btn.btn-default.play_again{:alt => "Play again", :src => "images/replay.png"}
    
