<!-- Latest compiled and minified CSS -->

<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
></link>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<script src="main.js"></script>

<link
    href="style.css"
    rel="stylesheet"
    type="text/css"
></link>

<audio id="startAudio">
  <source src="audio/startPart.mp3" type="audio/mpeg">
</audio>


<div class="story_area begin_screen">
    <div class="center_div">
        <img
            alt="Frog Prince Well"
            class="story_image"
            src="images/frog_prince_well.jpg"
        >
        
        <br>
        
        <button
            class="begin_button"
            type="button"
        >Incepe</button>
    </div>
</div>

<div class="begin_screen start_area hidden">
    <div class="center_div">
        <img
            alt="Frog Prince"
            class="frog_image"
            src="images/frog_prince_3.png"
        >

        <br>

        <button
            class="start_button"
            type="button"
        >Incepe</button>
    </div>
</div>

<div class="col-lg-12 question hidden">
    <div class="col-lg-8 col-lg-offset-2 not_center_div">
        <img
            alt="Frog Prince"
            class="question_image"
            src="images/frog_prince_2.png"
        >

        <br>

        <div class="wobble">
            <img
                alt="Correct"
                class="answer btn btn-default correct"
                src="images/green_tick.png"
            >
        </div>

        <div class="wobble" style = 'display:none'>
            <img
                alt="Replay"
                class="answer btn btn-default replay"
                src="images/replay.png"
            >
        </div>

        <div class="wobble" style = 'display:none'>
            <img
                alt="False"
                class="answer btn btn-default false"
                src="images/red_circle.png"
            >
        </div>
    </div>
</div>

<div class="col-lg-12 feedback hidden">
    <div class="col-lg-8 col-lg-offset-2 center_div">
        <img
            alt="Feedback"
            class="feedback_image"
            src=""
        >
    </div>
</div>

<div class="col-lg-12 final hidden">
    <div class="col-lg-8 col-lg-offset-2 center_div">
        <img
            alt="Feedback"
            class="final_image"
            src=""
        >

        <br>

        <div class="col-lg-6 col-lg-offset-3">
            <img
                alt="Play again"
                class="answer btn btn-default play_again"
                src="images/replay.png"
            >
        </div>
    </div>
</div>
