* {font-family: 'Calibri'; }
.frog_image {
  width: 500px;
  height: 400px;
  margin-top: 75px;
}
.center_div{
  width: 55%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden{
  display: none;
}
.question_image {
  width: 500px;
  height: 500px;
}
.feedback_image{
  margin-top: 50px;
  height: 400px;
  width: 400px;
}
.answer{
  width: 75px;
  height: 65px;
}
.final_image{
  height: 400px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.start_button{
  font-size: 20px;
  color: green;
  border: 2px solid green;
  background-color: rgba(238,247,250);
  width: 200px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  transition: color 0.3s ease-out, background-color 0.3s ease-out
}
.start_button:hover, start_button:focus{
  color: rgba(238,247,250);
  background-color: green;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;

}

.start_button:active{
  background-color: #3e8e41;
  color: rgba(238,247,250);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.begin_screen{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgba(238,247,250);
  -webkit-user-select: none; 
  -moz-user-select: none;  
  -ms-user-select: none;     
  user-select: none; 
}
button:focus {outline:0;}

.wobble{
  width: 75px;
  height: 65px;
}
.wobble:hover, .wobble:focus, .wobble:active {
  animation: a-lovely-keyframe 5s 40 linear; /* loops 3 times, but you are free to change it to whatever you like */
  -webkit-animation: a-lovely-keyframe 5s 40 linear;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }


  @keyframes a-lovely-keyframe{
    0% {  
      transform: rotate(4deg);
    }
    25% {
      transform: rotate(-4deg);
    }
    50% { 
      transform: rotate(-4deg);  
    }
    75% {
      transform: rotate(4deg);
    }
  }
  
  /* @-webkit-keyframes a-lovely-keyframe{
    0% {
      -webkit-transform: rotate(4deg);
    }
    25% {
      -webkit-transform: rotate(-4deg);
    }
    60% {
      -webkit-transform: rotate(-4deg);
    }
    75% {
      -webkit-transform: rotate(4deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
    }
  }
   */

.story_image {
  height: 500px;
  width: 600px;
  margin-top: 75px;
}
